{
  "presets": [
    "flow",
    [
      "es2015"
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "syntax-flow",
    "transform-flow-strip-types"
  ]
}
