.card.parts-list-card {
  .dataTables_wrapper {
    .dataTables_filter {
      display: none !important;
    }

    .head-search-field {
      .head-search-field-input {
        width: 100%;
        border: 1px solid #ddd;

        &[disabled] {
          background: rgba(51, 51, 51, 0.08);
          cursor: no-drop;
        }
      }
    }
  }
}