.create-modal.modal.fade(tabindex='-1', role='dialog', data-modal-key= Model.getKey())
    .modal-dialog.modal-lg(role='document')
        .modal-content
            form(method="POST", action= Link.getLinkApiModelCreate(Model.getKey()))
                .modal-header
                    h4.modal-title Create a new #{ Model.getNameSingular() }
                .modal-body
                    each field in Model.getFields()
                        != field.type.render()
                .modal-footer
                    button.btn.btn-link.waves-effect(type='submit') CREATE
                    button.btn.btn-link.waves-effect(type='button', data-dismiss='modal') CLOSE