nav.navbar
    .container-fluid
        .navbar-header
            a.navbar-toggle.collapsed(href='javascript:void(0);', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
            a.bars(href='javascript:void(0);')
            a.navbar-brand(href= getMountPath())= branding.siteName
